<h3>Add a Celebrety</h3>
<form action="/celebreties" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name" id="name">
	<label for="age">Age</label>
	<input type="text" name="age" id="age">
	<button type="submit">Add this celebrety</button>
</form>